body{
  padding: 3%;
}

.main{
  background-color: #f6f9fe;
  padding: 6%;
}

.menu{
  width: 30;
  height: 24;
  position: relative;
  left: 22rem;
}

.contenedor-1{
  margin-top: 6%;
  margin-bottom: 5rem;
}

.titulo-1{
  font-size: 1.1rem;
  font-style: inherit;
  background-color: rgba(55,40,101,255);
  padding: 1%;
  border-radius: 5rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 10%;
  color: antiquewhite;
}

strong{
  text-decoration: underline;
}

.titulo-2{
  color: rgba(55,40,101,255);
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 400;
  
}

.parrafo-1{
  color: gray;
  text-align: center;
}

#forma{
  display: block;
  justify-content: center;
  margin-left: 4rem;
}


.input{
 border-style: none;
 padding: 2%;
 width: 84%;
 margin-bottom: 1rem;
}

.btn{
  background-color: rgba(55,40,101,255);
  color:white;
  width: 85%;
  padding: 2%;
  margin-bottom: 1rem;
}

.icono{
  margin: 2%;
}


/*
Configuracion pantalla mediana
*/

@media screen and (min-width: 820px){

  .menu{
    position: relative;
    left: 90%;
  }

  .contenedor-1{
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .titulo-1{
    font-size: medium;
    font-style: inherit;
    width: 60%;
    text-align: center;
    color: rgb(174, 170, 170);
  }

  #caja-1{
    display: flex;
    justify-content: center;
  }

  .titulo-2{
    font-weight: 500;
  }

  strong{
    color: aliceblue;
  }

  .parrafo-1{
    text-align: center;
  }

  #forma{
    display: flex;
    margin-right: 10rem;
    margin-bottom: 5rem;
  }

  .btn{
    width: 10rem;
    height: 50px;
    margin-top: 1.5rem;
    margin-left: 3%;
  }

  .input{
    width: 20rem;
    height: 50px;
    margin-right: 2%;
  }



  

  
}


